/* Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

/* CSS files add styling rules to your content */

/* Standardcheckbox ausschalten */
input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label::before {
  min-width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 2px solid #143C5A;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
}
input[type="checkbox"]:checked+label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #3296FF;
}

/*label { background-color:#333; color:#FFF; }*/

input[type="checkbox"]:checked + label {
  background:#3296FF;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.containerall {
display:flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  width: 100%;
  margin-top: 0px;

}

.containerallmobile {
  display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    width: 100%;
    margin-top: 0px;
  
  }
  

.containerelement {
  display:flex;
  justify-content: flex-start;
  width:210px;
  margin-bottom: 20px;
  align-items: left;
}

.containerelementlangtext{
  display:flex;
  justify-content: flex-start;
  width: 520px;
  margin-bottom: 20px;
  align-items: center;
}



.werteliste {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0px;

}

.werteelement {
  display:flex;
  justify-content: flex-start;
  width: 200px;
  margin-bottom: 20px;
  align-items: center;
}

.wertelabel {
  display:flex;
  justify-content: flex-start;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 0px;
  align-items: center;
  font: 14pt/1.1 arial;
}

.wertelabellangtext {
  display:flex;
  justify-content: flex-start;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 0px;
  align-items: center;
  font: 14pt/1.1 arial;
  }

.wertebox {
  display:flex;
  justify-content: flex-start;
  /*transform: scale(1.5);*/
  align-items: center;
}
.lab {
  color:#0091D2;
}

.container {
  display: grid;
  /*grid-template-columns: repeat(1, 1fr);
  */
  grid-template-columns: 300px;
  gap: 5px;
  
}

.box {
  border: 3px solid #143C5A; /*#666*/
  background-color: #3296FF; /*#ddd*/
  border-radius: .5em;
  padding: 10px;
  cursor: move;
  text-align: center;
  color: #fff;
  }

.box.over {
  border: 5px dotted #666;
}

.button {
  background-color: #143C5A; /* Green #4CAF50 143c5aff*/
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:15px;
  width: 100px;
}

.button:hover{
	background-color:#2864A0 /*#8BA7C1;*/
}

.buttonmobile {
  background-color: #143C5A; /* Green #4CAF50 143c5aff*/
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:15px;
  width: 50px;
}

.buttonmobile:hover{
	background-color:#2864A0 /*#8BA7C1;*/
}

[draggable] {
  user-select: none;
}

@page { margin: 0; }

@media print{
#printPageButton {
    display: none;
    }

.texteinrueckung {
      text-indent: 2em;
      margin: 0;
}