/* Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.lab {
  color:#0091D2;
}

.container {
  display: grid;
  /*grid-template-columns: repeat(1, 1fr);
  */
  grid-template-columns: 300px;
  gap: 5px;
  
}

.box {
  border: 3px solid #143C5A; /*#666*/
  background-color: #3296FF; /*#ddd*/
  border-radius: .5em;
  padding: 10px;
  cursor: move;
  text-align: center;
  }

.box.over {
  border: 5px dotted #666;
}

.button {
  background-color: #143C5A; /* Green #4CAF50 143c5aff*/
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

[draggable] {
  user-select: none;
}

@page { margin: 0; }

@media print{
#printPageButton {
    display: none;
    }


